In [3]:
import pandas as pd
import numpy as np
from sklearn.linear_model  import LinearRegression
from sklearn.model_selection import train_test_split
import matplotlib.pyplot as plt
import os

In [4]:
file_path = os.path.join("dataset",'stroke_data.csv')

In [7]:
df = pd.read_csv(file_path)
df

,Unnamed: 0,gender,age,hypertension,heart_disease,ever_married,work_type,residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,1,Male,58.0,1,0,Yes,Private,Urban,87.96,39.2,never smoked,0
1,3,Female,70.0,0,0,Yes,Private,Rural,69.04,35.9,formerly smoked,0
2,6,Female,52.0,0,0,Yes,Private,Urban,77.59,17.7,formerly smoked,0
3,7,Female,75.0,0,1,Yes,Self-employed,Rural,243.53,27.0,never smoked,0
4,8,Female,32.0,0,0,Yes,Private,Rural,77.67,32.3,smokes,0
...,...,...,...,...,...,...,...,...,...,...,...,...
29060,43395,Female,10.0,0,0,No,Never_worked,Urban,58.64,20.4,never smoked,0
29061,43396,Female,56.0,0,0,Yes,Govt_job,Urban,213.61,55.4,formerly smoked,0
29062,43397,Female,82.0,1,0,Yes,Private,Urban,91.94,28.9,formerly smoked,0
29063,43398,Male,40.0,0,0,Yes,Private,Urban,99.16,33.2,never smoked,0
29064,43399,Female,82.0,0,0,Yes,Private,Urban,79.48,20.6,never smoked,0

In [18]:
df['ever_married'].replace({'Yes': 1, 'No': 0})

0        Yes
1        Yes
2        Yes
3        Yes
4        Yes
        ...
29060     No
29061    Yes
29062    Yes
29063    Yes
29064    Yes
Name: ever_married, Length: 29065, dtype: object

In [11]:
corrrelation = df.corr(method="pearson");
print("Pearson correlation coefficient:");
print(corrrelation);

Pearson correlation coefficient:
                   Unnamed: 0       age  hypertension  heart_disease  \
Unnamed: 0           1.000000 -0.003137     -0.000361      -0.006522
age                 -0.003137  1.000000      0.257536       0.247430
hypertension        -0.000361  0.257536      1.000000       0.117962
heart_disease       -0.006522  0.247430      0.117962       1.000000
avg_glucose_level   -0.007511  0.228283      0.154052       0.137482
bmi                 -0.009888  0.106226      0.129283       0.022740
stroke               0.006730  0.154059      0.078674       0.105142

                   avg_glucose_level       bmi    stroke
Unnamed: 0                 -0.007511 -0.009888  0.006730
age                         0.228283  0.106226  0.154059
hypertension                0.154052  0.129283  0.078674
heart_disease               0.137482  0.022740  0.105142
avg_glucose_level           1.000000  0.176936  0.075447
bmi                         0.176936  1.000000 -0.004039
stroke                      0.075447 -0.004039  1.000000

In [15]:
corrrelation['stroke']

Unnamed: 0           0.006730
age                  0.154059
hypertension         0.078674
heart_disease        0.105142
avg_glucose_level    0.075447
bmi                 -0.004039
stroke               1.000000
Name: stroke, dtype: float64